/*
Colors used

Background Color: #F4F3EE;
Text Color (Blue Charcoal): #2C4251;
Primary (Tuscan Red): #7D4E57
Secondary Color (Fulvous): #D78521;
White: #FDFFFC

*/

/*-------------------
    Table of Contents

    1. Typography

    2. Layout
-------------------*/

/* 1. Typography */

body {
    background-color: #F4F3EE;
    color: #2C4251;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
}

thead, h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

a {
    color: #357b70;
}

a:hover, a:focus {
    text-decoration: none;
}

a:active {
    color: #489c79;
}

a:visited {
    color: #fff;
}

button, .button {
    border: none;
    font-family: inherit;
    background-color: #7D4E57;
    color: #FDFFFC;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, .4);
}

button:hover,
button:focus,
.button:hover,
.button:focus,
.button:active {
    cursor: pointer;
    opacity: 0.9;
}

nav>ul>li>a.navigation-list__item {
    color: #357b70;
}

nav>ul>li>a.navigation-list__item--active {
    text-decoration: none;
    font-weight: 700;
    color: #D78521;
}

/* 2. Layout */

* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    flex: 0 1 100px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
    align-self: center;
}

.navigation-list {
    list-style: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.profile {
    max-width: 680px;
    height: 250px;
    padding: 0 auto;
    margin: 0 auto;
}

.profile__portrait {
    float: left;
    border-radius: 50%;
    width: 250px;
    margin-right: 40px;
}

#page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portfolio-grid__item {
    display: inline-block;
    width: 33%;
}

@supports (display:grid) {
    .work-page>body>main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portfolio-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        max-width: 80%;
        margin: 0;
    }
    .portfolio-grid__item {
        width: auto;
        background-color: rgb(206, 186, 204);
        border-radius: 2%;
        padding: 0.75rem;
    }
    .portfolio-grid__item a {
        color: #000;
    }
    @media all and (max-width: 750px) {
        .portfolio-grid {
            grid-template-columns: 1fr;
        }
    }
    @media all and (min-width: 750px) and (max-width: 1100px) {
        .portfolio-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media all and (min-width: 0px) and (max-width: 1100px) {
        h1 {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 1.2rem;
        }
    }
}